!ejercicios_html_css/**/*.html
!ejercicios_html_css/**/*.css
!ejercicios_html_css/**/*.js
!ejercicios_logica_programacion_JS/**/*.html
!ejercicios_logica_programacion_JS/**/*.css
!ejercicios_logica_programacion_JS/**/*.js