body {
   background-color: aqua;
}

#title, #description, form {
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

form {
   width: 60vw;
   max-width: 500px;
   min-width: 300px;
   margin: 20px auto;
   padding-bottom: 2em;
   background-color: rgb(126, 126, 219);
   color: white;
   }
 
label {
   display: block;
   margin: 0.5rem 0;
}
 
input[type="submit"] {
   display: block;
   width: 60%;
   margin: 1em auto;
   height: 2em;
   font-size: 1.1rem;
   background-color: #3b3b4f;
   border-color: white;
   min-width: 300px;
}

#number, select {
   width: 170px;
}