html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  font-family: sans-serif;
  text-align: center;
  border: thin solid black;
}

header {
  text-align: center;
  padding-top: 35px;
}

h3 {
  margin-top: 95px;
  margin-bottom: 64px;
}

p {
  margin: 32px 200px;
}

footer {
  padding-top: 48px;
  padding-bottom: 48px;
}

.main {
  background-color: rgb(240, 234, 234);
  margin: 20px 10px;
}

.img-div {
  background-color: white;
  margin: 16px 16px;
}

.image {
  max-width: 100%;
  height: auto;
  display: block;
  text-align: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-caption {
  padding-bottom: 48px;
}
